img {
    background-color: lightblue; 
    padding: 20px;
    border: 10px solid red;
    margin: 0px;
    display: block;
}
img {
    background-color: lightblue; 
    padding: 20px;
    border: 10px solid red;
    margin: 0px;
    display: block;
}
img {
    background-color: lightblue; 
    padding: 20px;
    border: 10px solid red;
    margin: 0px;
    display: block;
}