        p{
            color: red;
            font-size: 20px;
        }
        h1{
            color: blue;
            font-size: 50px;
        }
        p.eror{
            color:red;
            border: yellow;   
        }
        p.success.feedback{ 
            color: green;
            border: 5px solid yellow;
        }   
        .kursor {
            color: red;
            font-size: 20px;
        }
        .navigasi{
            border: 2px solid black;
            font-style: oblique;
        }
        /* }
        .feedback{
            /* border-width: 5px;
            border-style: solid;
            border-color: yellow;
             */
             #top-container{
                 background-color: lightgrey;
             }
                #bottom-container{
                background-color: lightgreen ;
            }
        div .eror{
            color: red;
        }
        a[href]{
            font-size: 30px;
        }
        a[href="www.google.com"]{
            background-color: yellow;
        }
        a[href$=".ac.id"]{
            background-color: purple;
        }
        h3:hover{
            color: yellow;
            background-color: burlywood;
        }
        p::selection{
            color:yellow;
            background-color: red;
            
        }
